.linkedin-main{
    width: 100%;
    background: rgba(207, 227, 255, 0.726);
    height: 400px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile-picture{
    height: 30%;
    border-radius: 100px;
}
.link-title, .link-name{
    margin: 2px;
}
.link-name{
    font-size: 1.3em;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3cbffd7;
    border: 0;
    border-radius: 10px;
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    cursor: pointer;
    height: 35px;
}