.projects{
    width: 100%;
    background: rgba(207, 227, 255, 0.548);
    height: 500px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-projects{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
}

.card-links{
    display: flex;
}

.project{
    width: 50%;
    margin: 5px;
}