.nav{
    background: #000922;
    width: 100vw;
    height: 7vh;
    margin: 0;
    color: #fff;
    display: flex;
    align-items: center;
    display: flex;
}

.nav-text{
    font-size: 3ch;
    margin-left: 25px;
}

.nav-list{
    list-style: none;
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;
}

.nav-list-item{
    margin: 5px;
}

.nav-list-item a{
    color: #fff;
    text-decoration: none;
}

.nav-img{
    height: 100%;
    display: flex;
    justify-content: center;
}

.nav-link{
    height: 45%;
}

.nav-last-link{
    margin-right: 25px;
}

.nav-first-link{
    margin-left: 40px;
}